{
    "preset": [
        "next/babel"
    ],
    "plugins": [
        [
            "babel-plugin-styled-component",
            {
                "ssr": true,
                "displayName": true
            }
        ]
    ]
}